<div class="container-fluid mt-5">
  <div class="row mb-6" *ngIf="createFlag">
    <div class="col-md">
      <div class="card">
        <h5
          class="card-header d-flex justify-content-between align-items-center"
        >
          <span>Salary Master</span>
          <button
            type="button"
            class="btn btn-xs btn-primary float-end"
            (click)="back()"
          >
            <i class="fa-solid fa-arrow-left"></i>&nbsp;back
          </button>
        </h5>

        <hr style="margin: 0rem 0 !important" />
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label"
                >Grace Period</label
              >
              <input
                type="number"
                class="form-control"
                id="defaultFormControlInput"
                placeholder="Enter Grace Period"
                [(ngModel)]="obj['graceMinutes']"
                aria-describedby="defaultFormControlHelp"
                required
              />

              <small>
                (e.g., Allow check-in up to 10 mins late without penalty)
              </small>

            </div>

            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label"
                >Monthly Late Allowance </label
              >
              <input
                type="number"
                class="form-control"
                id="defaultFormControlInput"
                placeholder="Enter Monthly Late Allowance"
                [(ngModel)]="obj['lateAllowanceMin']"
                aria-describedby="defaultFormControlHelp"
                required
              />
           <small>
            (e.g., Total allowed late minutes before penalty applies)
           </small>

            </div>

            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label"
                >Late Threshold for Half-Day </label>
              <input
                type="number"
                class="form-control"
                id="defaultFormControlInput"
                placeholder="Enter Late Threshold for Half-Day"
                [(ngModel)]="obj['halfDayThreshold']"
                aria-describedby="defaultFormControlHelp"
                required
              />

           <small>
 (e.g., If late by 30 mins or more, mark as Half-Day)
           </small>



            </div>

            <div class="col-3">
              <label for="defaultFormControlInput" class="form-label">Late Threshold for Full-Day Absent</label>
              <input
                type="number"
                class="form-control"
                id="defaultFormControlInput"
                placeholder="Enter Late Threshold for Full-Day Absent "
                [(ngModel)]="obj['halfdayToAbsentMin']"
                aria-describedby="defaultFormControlHelp"
                required
              />


                <small> (e.g., If late by hours, mark as Absent)</small>

            </div>
            <div class="col-3" *ngIf="updateFlag">
              <label for="defaultFormControlInput" class="form-label"
                >Status</label
              >
              <ng-select
                [items]="status"
                bindLabel="label"
                bindValue="value"
                [(ngModel)]="obj['status']"
                [multiple]="false"
                placeholder="Select Status"
                name="status"
                id="select2Danger"
              >
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-2">
              <button
                *ngIf="createFlag && updateFlag == false"
                type="button"
                class="btn btn-sm btn-primary waves-effect waves-light"
                (click)="onSubmit()"
              >
                Submit
              </button>
              <button
                *ngIf="updateFlag"
                type="button"
                class="btn btn-sm btn-primary waves-effect waves-light"
                (click)="updatedata()"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-6">
    <div class="col-md">
      <div class="card">
        <h5
          class="card-header d-flex justify-content-between align-items-center"
        >
          <span>Attendance Master List</span>
          <button
            *ngIf="createFlag == false"
            type="button"
            class="btn btn-xs btn-primary float-end"
            (click)="opencreate()"
          >
            <i class="fa-solid fa-plus"></i>&nbsp;Add
          </button>
        </h5>

        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>SI.No</th>
                <th>Grace Period</th>
                <th>Monthly Late Allowance</th>
                <th>Late Threshold for Half-Day</th>
                <th>Late Threshold for Full-Day Absent (hr)</th>
                <!-- <th>Status</th> -->
                <!-- <th>createdAt</th> -->
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let item of AttendanceMasterList; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item["graceMinutes"] }}</td>
                <td>{{ item["lateAllowanceMin"] }}</td>
                <td>{{ item["halfDayThreshold"] }}</td>
                <td>{{ item["halfdayToAbsentMin"]}}</td>
                <!-- <td>
                  <span
                    class="badge rounded overflow-hidden px-2"
                    [ngClass]="getStatusClass(item['status'])"
                  >
                    {{ item["status"] }}
                  </span>
                </td> -->
                <!-- <td>{{ item["createdAt"] }}</td> -->

                <td>
                  <button
                    type="button"
                    class="btn btn-outline-success btn-sm"
                    (click)="update(item)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    (click)="delete(item)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
