<div class="container mt-5">
  <div class="row mb-6" *ngIf="createFlag">
    <div class="col-xxl">
      <div class="card">
         <h5 class="card-header d-flex justify-content-between align-items-center mb-0">
          <span>Personal Details</span>
          <button type="button" class="btn btn-md btn-primary float-end" (click)="back()">
            <i class="fa-solid fa-arrow-left"></i>&nbsp;back
          </button>
        </h5>

        <hr style="margin: 0rem 0 !important" />
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">First Name</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                placeholder="Enter First Name"
                [(ngModel)]="personalDetails.firstName"
                name="firstName"
                   required
                #firstNameRef="ngModel"
              />
                 <small
                class="text-danger"
                *ngIf="firstNameRef.invalid && firstNameRef.touched"
              >
                Enter valid First Name
              </small>
            </div>
            <div class="col-2">
              <label class="col-form-label fw-bold">Last Name</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Last Name"
                [(ngModel)]="personalDetails.lastName"
                name="lastName"
                   required
                #lastNameRef="ngModel"
              />
               <small
                class="text-danger"
                *ngIf="lastNameRef.invalid && lastNameRef.touched"
              >
                Enter valid Last Name
              </small>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">Phone Number</label>
            </div>
            <div class="col-4">
              <input
                type="tel"
                class="form-control"
                placeholder="Enter Phone Number"
                [(ngModel)]="personalDetails.mobile"
                name="phoneNumber"
                pattern="^[6-9]\d{9}$"
                maxlength="10"
                required
                #mobileRef="ngModel"
                (keypress)="
                  preventMoreThanTenDigits($event, personalDetails.mobile)
                "
              />

              <small
                class="text-danger"
                *ngIf="mobileRef.invalid && mobileRef.touched"
              >
                Enter valid 10-digit mobile number
              </small>
            </div>
            <div class="col-2">
              <label class="col-form-label fw-bold">Aadhaar Number</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Aadhaar Number"
                maxlength="12"
                [(ngModel)]="personalDetails.adhaarNo"
                name="aadhaarNumber"
                (keypress)="adhaarvalidaiton($event, personalDetails.mobile)"
                pattern="^\d{12}$"
                required
                #aadhaarRef="ngModel"
              />
              <small
                class="text-danger"
                *ngIf="aadhaarRef.invalid && aadhaarRef.touched"
                >Enter valid 12-digit Aadhaar number</small
              >
            </div>
          </div>




          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">PAN</label>
            </div>
            <div class="col-4">
            <input
  type="text"
  class="form-control text-uppercase"
  placeholder="Enter PAN Number"
  [(ngModel)]="personalDetails.panNo"
  (ngModelChange)="toUppercase()"
  name="pan"
  pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$"
  maxlength="10"
  required
  #panRef="ngModel"
/>
<small class="text-danger" *ngIf="panRef.invalid && panRef.touched">
  Enter valid PAN (e.g., ABCDE1234F)
</small>
            </div>


            <div class="col-2">
              <label class="col-form-label fw-bold">Blood Group</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Blood Group"
                [(ngModel)]="personalDetails.bloodGroup"
                name="bloodGroup"
                  required
                #bloodGroupRef="ngModel"
              />
                 <small
                class="text-danger"
                *ngIf="bloodGroupRef.invalid && bloodGroupRef.touched"
              >
                Enter valid First Name
              </small>
            </div>
          </div>

          <!-- Row 4 -->
          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">Father Name</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Father Name"
                [(ngModel)]="personalDetails.fatherName"
                name="fatherName"
                   required
                #fatherNameRef="ngModel"
              />
                 <small
                class="text-danger"
                *ngIf="fatherNameRef.invalid && fatherNameRef.touched"
              >
                Enter valid Father Name
              </small>
            </div>
            <div class="col-2">
              <label class="col-form-label fw-bold">Mother Name</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Mother Name"
                [(ngModel)]="personalDetails.motherName"
                name="motherName"
                   required
                #motherNameRef="ngModel"
              />
                 <small
                class="text-danger"
                *ngIf="motherNameRef.invalid && motherNameRef.touched"
              >
                Enter valid Mother Name
              </small>
            </div>
          </div>

          <!-- Row 5 -->
          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">Marital Status</label>
            </div>
            <div class="col-4">
              <ng-select
                [items]="maritalStatusList"
                bindLabel="label"
                bindValue="value"
                [(ngModel)]="personalDetails.martialStatus"
                placeholder="Select Marital Status"
                name="maritalStatus"
                id="select2Danger"

              >
              </ng-select>
            </div>
            <div class="col-2">
              <label class="col-form-label fw-bold">Nationality</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Nationality"
                [(ngModel)]="personalDetails.nationality"
                name="nationality"
                  required
                #nationalityRef="ngModel"
              />
                 <small
                class="text-danger"
                *ngIf="nationalityRef.invalid && nationalityRef.touched"
              >
                Enter valid NationalityRef
              </small>
            </div>
          </div>

          <!-- Row 6 -->
          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">DOB</label>
            </div>
            <div class="col-4">
              <input
                type="date"
                class="form-control"
                [(ngModel)]="personalDetails.dateOfBirth"
                name="dateOfBirth"
                 required
                #dateOfBirthRef="ngModel"
              />
                 <small
                class="text-danger"
                *ngIf="dateOfBirthRef.invalid && dateOfBirthRef.touched"
              >
                Enter valid DOB
              </small>
            </div>
            <div class="col-2">
              <label class="col-form-label fw-bold">Age</label>
            </div>
            <div class="col-4">
              <input
                type="number"
                class="form-control"
                placeholder="Enter Age"
                [(ngModel)]="personalDetails.age"
                name="age"
                 required
                #ageRef="ngModel"
              />
                 <small
                class="text-danger"
                *ngIf="ageRef.invalid && ageRef.touched"
              >
                Enter valid Age
              </small>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">Country</label>
            </div>
            <div class="col-4">
             <ng-select
                [items]="countryList"
                bindLabel="label"
                bindValue="value"
                [(ngModel)]="personalDetails['country']"
                [multiple]="false"
                placeholder="Select country"
                name="country"
                id="select2Danger"
                (change)="getstates($event)"
              >
              </ng-select>

            </div>
            <div class="col-2">
              <label class="col-form-label fw-bold">State</label>
            </div>
            <div class="col-4">
              <ng-select
                [items]="states"
                bindLabel="label"
                bindValue="value"
                [(ngModel)]="personalDetails['state']"
                [multiple]="false"
                placeholder="Select state"
                name="state"
                id="select2Danger"
                 (change)="getcity($event)"
              >
              </ng-select>
            </div>
          </div>
          <!-- Row 7 -->
          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">PIN Code</label>
            </div>
            <div class="col-4">
              <input
                type="number"
                class="form-control"
                placeholder="Enter PIN Code"
                [(ngModel)]="personalDetails.pinCode"
                name="pinCode"
                  required
                #pinCodeRef="ngModel"
              />
                 <small
                class="text-danger"
                *ngIf="pinCodeRef.invalid && pinCodeRef.touched"
              >
                Enter valid PIN Code
              </small>
            </div>
            <div class="col-2">
              <label class="col-form-label fw-bold">City</label>
            </div>
            <div class="col-4">
                 <ng-select
                [items]="cities"
                bindLabel="label"
                bindValue="value"
                [(ngModel)]="personalDetails['city']"
                [multiple]="false"
                placeholder="Select City"
                name="city"
                id="select2Danger"

              >
              </ng-select>

            </div>
          </div>

          <!-- Row 8 -->
          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">Gender</label>
            </div>
            <div class="col-4">
              <ng-select
                [items]="genderList"
                bindLabel="label"
                bindValue="value"
                [(ngModel)]="personalDetails.gender"
                [multiple]="false"
                placeholder="Select Gender"
                name="status"
                id="select2Danger"
              >
              </ng-select>
            </div>
            <div class="col-2">
              <label class="col-form-label fw-bold">Email</label>
            </div>
            <div class="col-4">
              <input
                type="email"
                class="form-control"
                placeholder="Enter Email"
                [(ngModel)]="personalDetails.email"
                name="email"
                   required
                #emailRef="ngModel"
              />
                 <small
                class="text-danger"
                *ngIf="emailRef.invalid && emailRef.touched"
              >
                Enter valid Email
              </small>
            </div>
          </div>
   <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">Alternate Phone Number</label>
            </div>
            <div class="col-4">
              <input
                type="tel"
                class="form-control"
                placeholder="Enter Phone Number"
                [(ngModel)]="personalDetails.alternateMobile"
                name="phoneNumber"
                pattern="^[6-9]\d{9}$"
                maxlength="10"
                required
                #alternateMobileRef="ngModel"
                (keypress)="
                  preventMoreThanTenDigits($event, personalDetails.alternateMobile)
                "
              />

              <small
                class="text-danger"
                *ngIf="alternateMobileRef.invalid && alternateMobileRef.touched"
              >
                Enter valid 10-digit mobile number
              </small>
            </div>


          </div>
          <!-- Address -->
          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">Permanent Address</label>
            </div>
            <div class="col-10">
              <textarea
                class="form-control"
                rows="4"
                placeholder="Enter Address"
                [(ngModel)]="personalDetails.permanentAddress"
                name="address"
              ></textarea>
            </div>
          </div>
  <!-- Address -->
          <div class="row mb-4">
            <div class="col-2">
              <label class="col-form-label fw-bold">Current Address</label>
            </div>
            <div class="col-10">
              <textarea
                class="form-control"
                rows="4"
                placeholder="Enter Address"
                [(ngModel)]="personalDetails.currentaddress"
                name="address"
              ></textarea>
            </div>
          </div>
          <!-- Submit -->
          <div class="row mb-4 justify-content-end">
            <div class="col-sm-10">
              <button *ngIf="updateFlag == false && createFlag == true"
                type="button"
                class="btn btn-primary"
                (click)="submitForm()"
              >
                Submit
              </button>
               <button *ngIf="updateFlag == true && createFlag == true"
                type="button"
                class="btn btn-primary"
                (click)="updateform()"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row mb-6">
    <div class="col-md">
      <div class="card">

        <h5
          class="card-header d-flex justify-content-between align-items-center"
        >
          <span>Employee List</span>
          <button
            *ngIf="createFlag == false"
            type="button"
            class="btn btn-md btn-primary float-end"
            (click)="opencreate()"
          >
            <i class="fa-solid fa-plus"></i>&nbsp;Add
          </button>
        </h5>

        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>SI.No</th>
                <th>Name<br>Email
                </th>
                <th>mobile</th>
                <th>Pan No /
                  <br>
                 Aadhaar No
                </th>
                <th>dateOfBirth</th>
                <th>Permanent Address</th>
                <th>Current Address</th>
                <th>Gender /
                  <br>

                    martialStatus


                </th>
                <th>createdAt</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let item of employees; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item["firstName"] }} {{ item["lastName"] }}
                  <br>
                  <span class="badge bg-label-primary">
                    <i class="fas fa-envelope"></i>&nbsp;  {{ item["email"] }}
                  </span>


                </td>
                <td>{{ item["mobile"] }}</td>
                <!-- <td>{{ item["email"] }} </td> -->
                <td>{{ item["panNo"] }}

                  <br>
                  <span class="badge bg-label-primary">{{ item["adhaarNo"] }}</span>

                </td>
                <!-- <td>{{ item["adhaarNo"] }} </td> -->
                <td>{{ item["dateOfBirth"] | date:'dd-MM-yyyy' }} </td>
                <td>
                  {{ item["permanentAddress,"] }}
                </td>
                <td>
                  {{ item["currentaddress"] }}
                </td>
                <td> {{item['gender']}}
                  <br>
                  <span class="badge bg-label-primary">
                    {{ item["martialStatus"] }}
                  </span>
                </td>
                <!-- <td> {{item['martialStatus']}}</td> -->
                <td>{{ item["createdAt"] |date:'M/d/yyyy, h:mm a' }}</td>

                <td>
                   <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    (click)="view(item)"
                  >
                   <i class="far fa-eye"></i>
                  </button>&nbsp;
                  <button
                    type="button"
                    class="btn btn-outline-success btn-sm"
                    (click)="update(item)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    (click)="delete(item)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
