<div class="mt-5">
  <div class="row mb-6" *ngIf="createFlag">
    <div class="col-md">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <h5 class="mb-0">Add Leave</h5>
        <!-- <span></span> -->
        <button
          type="button"
          class="btn btn-xs btn-primary float-end"
          (click)="back()"
        >
          <i class="fa-solid fa-arrow-left"></i>&nbsp;Back
        </button>
      </div>
      <hr />
      <div class="card-body mt-5">
        <div class="row g-2">
          <div class="col-3">
            <label for="defaultFormControlInput" class="form-label">Select Year
              <span style="color: red"> * </span>
            </label>
            <ng-select
              [items]="yearList"
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="obj['year']"
              [multiple]="false"
              placeholder="Select Year"
              name="state"
              id="select2Danger"
              required
              #YearRef="ngModel"
            >
            </ng-select>


                <small
                  class="text-danger"
                  *ngIf="YearRef.invalid && YearRef.touched"
                >
                  Year Is required
                </small>
          </div>
          <div class="col-3">
            <label for="defaultFormControlInput" class="form-label"
              >Leave Type</label
            >
            <ng-select
              [items]="leaveTypeList"
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="obj['leaveTypeId']"
              [multiple]="false"
              placeholder="Select Leave Type"
              name="state"
              id="select2Danger"
              required
              #leaveTypeRef="ngModel"
              (change)="onLeaveTypeChange(obj['leaveTypeId'])"
            >
            </ng-select>
               <small
                  class="text-danger"
                  *ngIf="leaveTypeRef.invalid && leaveTypeRef.touched"
                > Leave Type Is required
              </small>
          </div>
          <div class="col-3">
            <label for="defaultFormControlInput" class="form-label"
              >Total Assigned Leave</label
            >
            <input
              type="number"
              class="form-control"
              id="defaultFormControlInput"
              placeholder="Enter Total Assigned"
              [(ngModel)]="obj['totalAssigned']"
              aria-describedby="defaultFormControlHelp"
              disabled="true"
            />

          </div>
          <div class="col-3">
            <label for="defaultFormControlInput" class="form-label"
              >Carry Forwarded</label
            >

            <input
              type="number"
              class="form-control"
              id="defaultFormControlInput"
              placeholder="Enter CarryForwarded Leave"
              [(ngModel)]="obj['carryForwarded']"
              aria-describedby="defaultFormControlHelp"
                 #carryForwardRef="ngModel"
            />
            <small  class="text-danger" *ngIf="carryForwardRef.invalid && carryForwardRef.touched"> CarryForwarded
              Leave Is required
              </small>
          </div>

          <!-- <div class="col-3" *ngIf="updateFlag">
            <label for="defaultFormControlInput" class="form-label"
              >Status</label
            >
            <ng-select
              [items]="status"
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="obj['status']"
              [multiple]="false"
              placeholder="Select Status"
              name="status"
              id="select2Danger"
            >
            </ng-select>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-12 mt-2">
            <button
              *ngIf="createFlag && updateFlag == false"
              type="button"
              class="btn btn-sm btn-primary waves-effect waves-light"
              (click)="onSubmit()"
            >
              Submit
            </button>
            <button
              *ngIf="updateFlag == true"
              type="button"
              class="btn btn-sm btn-primary waves-effect waves-light"
              (click)="updatedata()"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-6" *ngIf="!createFlag">
    <div class="col-md-12">
      <div class="row mb-2 align-items-center">
        <div class="col-md-9">
          <h5 class="mb-0">Assign Leave List</h5>
        </div>
        <div class="col-md-3">
          <div class="d-flex">
            <ng-select
              [items]="yearList"
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="NewObj['year']"
              [multiple]="false"
              placeholder="Select Year"
              name="state"
              id="select2Danger"
              class="w-100 mx-2"
              required
              #enCashableRef="ngModel"
              (change)="fetchAssignLeaveList()"
            >
            </ng-select>
            <button
              *ngIf="createFlag == false"
              type="button"
              class="btn btn-xs btn-block btn-primary"
              (click)="opencreate()"
            >
              <i class="fa-solid fa-plus"></i>&nbsp;Add
            </button>
          </div>
        </div>
      </div>
      <hr />

      <div class="card-body">
        <div class="row">
          <div class="col-2"></div>
        </div>
        <div class="row m-3 mx-2 my-0 justify-content-between">
          <div
            class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto"
          >
            <div class="dt-length">
              <label for="dt-length-0"
                >Show
                <select
                  name="DataTables_Table_0_length"
                  aria-controls="DataTables_Table_0"
                  class="form-select form-select-sm"
                  id="dt-length-0"
                  (change)="onItemsPerPageChange($event)"
                >
                  <!-- <option value="7">7</option> -->
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option></select
                >entries</label
              >
            </div>
          </div>
          <div
            class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto mt-0"
          >
            <div class="dt-search mt-md-5 mt-0">
              <label for="dt-search-0">Search:</label
              ><input
                type="search"
                class="form-control"
                id="dt-search-0"
                placeholder="Search By Name"
                aria-controls="DataTables_Table_0"
                (input)="applyFilter($event)"
              />
            </div>
          </div>
        </div>
        <div class="table-responsive text-nowrap mt-2">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>SI.No</th>
                <th>Year</th>
                <th>Leave Name</th>

                <th>Assigned Leave</th>
                <th>Carry Forwarded</th>
                <th>remainingLeaves</th>
                <th>used Leaves</th>
                <th>createdAt</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let item of LeaveList; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item["year"] }}</td>
                <td>{{ item["leaveTypeId"] }}</td>
                <td>
                  {{ item["totalAssigned"] }}
                </td>
                <td>
                  {{ item["carryForwarded"] }}
                </td>
                <td>
                  {{ item["remainingLeaves"] }}
                </td>
                <td>
                  {{ item["usedLeaves"] }}
                </td>
                <!-- <td>
                  <span
                    class="badge rounded overflow-hidden px-2"
                    [ngClass]="getStatusClass(item['status'])"
                  >
                    {{ item["status"] }}
                  </span>
                </td> -->

                <td>{{ item["createdAt"] }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-outline-success btn-sm"
                    (click)="update(item)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    (click)="delete(item.id)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mx-3 justify-content-between">
          <div
            class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto"
          >
            <div class="dt-info" aria-live="polite" role="status">
              Showing {{ (currentPage - 1) * itemsPerPage + 1 }} to
              {{ getMin(currentPage * itemsPerPage, originalList.length) }} of
              {{ originalList.length }} entries
            </div>
          </div>

          <div
            class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto mt-0"
          >
            <div class="dt-paging">
              <nav aria-label="pagination">
                <ul class="pagination">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="goToPage(currentPage - 1)"
                      >Prev</a
                    >
                  </li>

                  <li
                    class="page-item"
                    *ngFor="let p of [].constructor(totalPages); let i = index"
                    [class.active]="i + 1 === currentPage"
                  >
                    <a class="page-link" (click)="goToPage(i + 1)">{{
                      i + 1
                    }}</a>
                  </li>

                  <li
                    class="page-item"
                    [class.disabled]="currentPage === totalPages"
                  >
                    <a class="page-link" (click)="goToPage(currentPage + 1)"
                      >Next</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
